@model RCMD.Models.Determination_Of_Flakiness_Index

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Determination_Of_Flakiness_Index</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Material_Description_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material_Description_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sieves_Nominal_Apperture_Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sieves_Nominal_Apperture_Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mass_Of_Test_Portion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mass_Of_Test_Portion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flakiness_Index)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flakiness_Index)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aggregate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aggregate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flakiness_Index_Weighted_Average)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flakiness_Index_Weighted_Average)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Material_Description.Project_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material_Description.Project_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
