

@model RCMD.Models.Determination_OF_LL_PL

@{
    ViewBag.Title = "Details";
}
<div id="regional-sales" class="main-section-content row">
    <div id="topProductsContainer">
        <p>
            <h4 align="right"><a href="@(Url.Action("Index", "Users"))" alt="Home"><i class="material-icons md-18">home</i></a>&nbsp;&nbsp;<a href="@(Url.Action("Index", "Determination_OF_LL_PL"))" alt="List"><i class="material-icons md-18">list</i></a> &nbsp;&nbsp;<a href="@(Url.Action("Create", "Determination_OF_LL_PL"))" alt="Create"><i class="material-icons md-18">create</i></a>&nbsp;&nbsp; <a href="@(Url.Action("Index","Home"))" align="right"><i class="material-icons md-18">power_settings_new</i></a></h4>
        </p>
        <br />

        <table class="table table-striped table-bordered table-condensed">
            <tbody>
                <tr>
                    <td>

                        @Html.DisplayNameFor(model => model.Test_Number)

                    </td>
                    <td class="col-lg-10">

                        @Html.DisplayFor(model => model.Test_Number)

                    </td>
                </tr>
                <tr>
                    <td>

                        @Html.DisplayNameFor(model => model.Container)

                    </td>
                    <td>

                        @Html.DisplayFor(model => model.Container)

                    </td>
                </tr>
                <tr>
                    <td>

                        @Html.DisplayNameFor(model => model.Determination_Type)

                    </td>
                    <td>

                        @Html.DisplayFor(model => model.Determination_Type)

                    </td>
                </tr>
                <tr>
                    <td>

                        @Html.DisplayNameFor(model => model.Test_Method)

                    </td>
                    <td>

                        @Html.DisplayFor(model => model.Test_Method)

                    </td>
                </tr>
                <tr>
                    <td>

                        @Html.DisplayNameFor(model => model.Wt_of_Container_Plus_Wet_Soil)

                    </td>
                    <td>

                        @Html.DisplayFor(model => model.Wt_of_Container_Plus_Wet_Soil)

                    </td>
                </tr>
                <tr>
                    <td>

                        @Html.DisplayNameFor(model => model.Wt_of_Container_Plus_Dry_Soil)

                    </td>
                    <td>

                        @Html.DisplayFor(model => model.Wt_of_Container_Plus_Dry_Soil)

                    </td>
                </tr>
                <tr>
                    <td>

                        @Html.DisplayNameFor(model => model.Wt_of_Container)

                    </td>
                    <td>

                        @Html.DisplayFor(model => model.Wt_of_Container)

                    </td>
                </tr>


            </tbody>
        </table>
    </div>
    </div>












        @*







            @model RCMD.Models.Determination_OF_LL_PL

            @{
                ViewBag.Title = "Details";
            }

            <h2>Details</h2>

            <div>
                <h4>Determination_OF_LL_PL</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Test_Number)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Test_Number)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Container)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Container)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Liquid_Limit)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Liquid_Limit)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Plasticity_Index)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Plasticity_Index)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Soil_Clasificatic)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Soil_Clasificatic)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Plasticity_Product)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Plasticity_Product)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Grading_Modulus)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Grading_Modulus)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Plasticity_Modulus)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Plasticity_Modulus)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Aggregate_Crushing_Value)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Aggregate_Crushing_Value)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Aggregate_Impact_Value)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Aggregate_Impact_Value)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Ten_Percent_Fine_Value)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Ten_Percent_Fine_Value)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Losangeles_Abrasion_Value)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Losangeles_Abrasion_Value)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Water_Absorpti)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Water_Absorpti)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Specific_Gravity)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Specific_Gravity)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Purpose_of_Material)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Purpose_of_Material)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Location.District)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Location.District)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        *@
