

@model IEnumerable<RCMD.Models.Determination_OF_LL_PL>

@{
    ViewBag.Title = "Index";
}
<div id="regional-sales" class="main-section-content row">
    <div id="topProductsContainer">
        <p>
            <h4 align="right"><a href="@(Url.Action("Index", "Users"))" alt="Home"><i class="material-icons md-18">home</i></a>&nbsp;&nbsp;<a href="@(Url.Action("Index", "Determination_OF_LL_PL"))" alt="List"><i class="material-icons md-18">list</i></a> &nbsp;&nbsp;<a href="@(Url.Action("Create", "Determination_OF_LL_PL"))" alt="Create"><i class="material-icons md-18">create</i></a>&nbsp;&nbsp; <a href="@(Url.Action("Index","Home"))" align="right"><i class="material-icons md-18">power_settings_new</i></a></h4>
        </p>
        <br />
        <table class="table table-striped table-bordered table-condensed">
            <tbody>
                <tr>
                    <td align="center">
                        <div class="container-narrow">
                            <div class="col-md-13">
                                @Html.DisplayNameFor(model => model.Location.Road_Section)
                            </div>
                        </div>
                    </td>
                    <td align="center">
                        <div class="container-narrow">
                            <div class="col-md-13">
                                @Html.DisplayNameFor(model => model.Test_Number)
                            </div>
                        </div>
                    </td>
                    <td align="center">
                        <div class="container-narrow">
                            <div class="col-md-13">
                                @Html.DisplayNameFor(model => model.Container)
                            </div>
                        </div>
                    </td>
                    <td align="center">
                        <div class="container-narrow">
                            <div class="col-md-13">
                                @Html.DisplayNameFor(model => model.Determination_Type)
                            </div>
                        </div>
                    </td>
                    <td align="center">
                        <div class="container-narrow">
                            <div class="col-md-13">
                                @Html.DisplayNameFor(model => model.Test_Method)
                            </div>
                        </div>
                    </td>
                    <td align="center">
                        <div class="container-narrow">
                            <div class="col-md-13">
                                @Html.DisplayNameFor(model => model.Wt_of_Container_Plus_Wet_Soil)
                            </div>
                        </div>
                    </td>
                    <td align="center">
                        <div class="container-narrow">
                            <div class="col-md-13">
                                @Html.DisplayNameFor(model => model.Wt_of_Container_Plus_Dry_Soil)
                            </div>
                        </div>
                    </td>
                    <td align="center">
                        <div class="container-narrow">
                            <div class="col-md-13">
                                @Html.DisplayNameFor(model => model.Wt_of_Container)
                            </div>
                        </div>
                    </td>
                    <td colspan="3" align="center">
                        <div class="container-narrow">
                            <div class="col-md-13">
                                <b> Alternate Actions</b>
                            </div>
                        </div>
                    </td>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @Html.DisplayFor(modelItem => item.Location.Road_Section)
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @Html.DisplayFor(modelItem => item.Test_Number)
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @Html.DisplayFor(modelItem => item.Container)
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @Html.DisplayFor(modelItem => item.Determination_Type)
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @Html.DisplayFor(modelItem => item.Test_Method)
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @Html.DisplayFor(modelItem => item.Wt_of_Container_Plus_Wet_Soil)
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @Html.DisplayFor(modelItem => item.Wt_of_Container_Plus_Dry_Soil)
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @Html.DisplayFor(modelItem => item.Wt_of_Container)
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    <input type="submit" value="Edit" class="btn btn-warning col-lg-3 col-lg-offset-0" style="width:70px; height:35px;" onclick="location.href='@Url.Action("Edit",new {id = item.ID})'" />
                                    @*@Html.ActionLink("Edit", "Edit", new { id = item.ID})*@
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    <input type="submit" value="Details" class="btn btn-success col-lg-3 col-lg-offset-0" style="width:70px; height:35px;" onclick="location.href='@Url.Action("Details",new {id = item.ID})'" />
                                    @*@Html.ActionLink("Details", "Details", new { id = item.ID })*@
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    <input type="submit" value="Delete" class="btn btn-danger col-lg-3 col-lg-offset-0" style="width:70px; height:35px;" onclick="location.href='@Url.Action("Delete",new {id = item.ID})'" />
                                    @*@Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

     


























        @*



            @model IEnumerable<RCMD.Models.Determination_OF_LL_PL>

            @{
                ViewBag.Title = "Index";
            }

            <h2>Index</h2>

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Test_Number)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Container)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Liquid_Limit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Plasticity_Index)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Soil_Clasificatic)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Plasticity_Product)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Grading_Modulus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Plasticity_Modulus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Aggregate_Crushing_Value)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Aggregate_Impact_Value)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ten_Percent_Fine_Value)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Losangeles_Abrasion_Value)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Water_Absorpti)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Specific_Gravity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Purpose_of_Material)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Location.District)
                    </th>
                    <th></th>
                </tr>

            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Test_Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Container)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Liquid_Limit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Plasticity_Index)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Soil_Clasificatic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Plasticity_Product)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grading_Modulus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Plasticity_Modulus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aggregate_Crushing_Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aggregate_Impact_Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ten_Percent_Fine_Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Losangeles_Abrasion_Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Water_Absorpti)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Specific_Gravity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Purpose_of_Material)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.District)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                    </td>
                </tr>
            }

            </table>
        *@
