@model RCMD.Models.Location

@{
    ViewBag.Title = "Delete";
}

<div>
    <h4>Delete Location | @Html.ActionLink("Location List", "Index") | @Html.ActionLink("Create New Location", "Create")</h4>
    <h5 style="color:red">Are you sure you want to delete this location?</h5>
    <hr /><dl>
    <table class="table table-striped table-bordered table-condensed">
        <tbody >

            <tr>
                <td >

                    <div class="container-narrow">
                        <div class="col-md-13">
                            <dt>
                                   @Html.DisplayNameFor(model => model.District)
                             </dt>
                        </div>
                   </div>
                </td>
                <td >
                    <div class="container-narrow">
                        <div class="col-md-13">
                            <dd>
                                @Html.DisplayFor(model => model.District)
                            </dd>
                            </div>
                        </div>
                </td>
                </tr>
               <tr>
                   <td>
                       <div class="container-narrow">
                           <div class="col-md-13">
                               <dt>
                                   @Html.DisplayNameFor(model => model.Road_Section)
                               </dt>
                               </div>
                           </div>
                   </td>
                   <td>
                       <div class="container-narrow">
                           <div class="col-md-13">
                               <dd>
                                   @Html.DisplayFor(model => model.Road_Section)
                               </dd>
                               </div>
                           </div>
                   </td>
                   </tr>
                    <tr>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Quarry_Area)
                                    </dt>
                                    </div>
                                </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    <dd>
                                        @Html.DisplayFor(model => model.Quarry_Area)
                                    </dd>
                                    </div>
                                </div>
                        </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Change)
                                        </dt>
                                        </div>
                                    </div>
                            </td>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">
                                        <dd>
                                            @Html.DisplayFor(model => model.Change)
                                        </dd>
                                        </div>
                                    </div>
                            </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="container-narrow">
                                        <div class="col-md-13">
                                            <dt>
                                                @Html.DisplayNameFor(model => model.Offset_Distance)
                                            </dt>
                                            </div>
                                        </div>
                                </td>
                                <td>
                                    <div class="container-narrow">
                                        <div class="col-md-13">
                                            <dd>
                                                @Html.DisplayFor(model => model.Offset_Distance)
                                            </dd>
                                            </div>
                                        </div>
                                </td>
                                </tr>
            <tr>
                <td>
                    <div class="container-narrow">
                        <div class="col-md-13">
                            <dt>
                                @Html.DisplayNameFor(model => model.Latitude)
                            </dt>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="container-narrow">
                        <div class="col-md-13">
                            <dd>
                                @Html.DisplayFor(model => model.Latitude)
                            </dd>
                            </div>
                        </div>
                </td>
                </tr>
            <tr>
                <td>
                    <div class="container-narrow">
                        <div class="col-md-13">
                            <dt>
                                @Html.DisplayNameFor(model => model.Longitude)
                            </dt>
                            </div>
                        </div>
                </td>
                <td>
                    <div class="container-narrow">
                        <div class="col-md-13">
                            <dd>
                                @Html.DisplayFor(model => model.Longitude)
                            </dd>
                            </div>
                        </div>
                </td>
                <tr>
                    <td>
                        <div class="container-narrow">
                            <div class="col-md-13">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Elevation)
                                </dt>
                                </div>
                            </div>
                    </td>
                    <td>
                        <div class="container-narrow">
                            <div class="col-md-13">
                                <dd>
                                    @Html.DisplayFor(model => model.Elevation)
                                </dd>
                                </div>
                            </div>
                    </td>
                    </tr>
            <tr>
                <td>
                    <div class="container-narrow">
                        <div class="col-md-13">
                            <dt>
                                @Html.DisplayNameFor(model => model.Estimated_Quantity)
                            </dt>
                            </div>
                        </div>
                </td>
                <td>
                    <div class="container-narrow">
                        <div class="col-md-13">
                            <dd>
                                @Html.DisplayFor(model => model.Estimated_Quantity)
                            </dd>
                            </div>
                        </div>
                </td>
                </tr>
            <tr>
                <td>
                    <div class="container-narrow">
                        <div class="col-md-13">
                            <dt>
                                @Html.DisplayNameFor(model => model.Photo)
                            </dt>
                            </div>
                        </div>
                </td>
                <td>
                    <div class="container-narrow">
                        <div class="col-md-13">
                            <dd>
                                <img src="~/Uploads/@Model.Photo" alt="Captured Photo" height="200px" width="200px" />
                                @*@Html.DisplayFor(model => model.Photo)*@
                            </dd>
                            </div>
                        </div>
                </td>
               
            </tr>
        </tbody>
    </table> </dl>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger col-lg-3 col-lg-offset-0" style="width:70px; height:35px;" /> 
                        <br />
                       
                    </div>
                }
</div>
