
@{
    ViewBag.Title = "Index";
}


@if (ViewBag.displayMenu == "1")
{
    <h1>Welcome Administrator. Now you can create user Role.</h1>
    <h3>
        @Html.ActionLink("Manage Role", "Index", "Role")
    </h3>
}
@if (ViewBag.displayMenu == "2")
{
    <h3>
        @Html.ActionLink("Determination of LL & PL Index", "Index", "Determination_OF_LL_PL")
    </h3>
}
@if (ViewBag.displayMenu == "3")
{
    <h3>
        @Html.ActionLink("Determination of LL & PL Index", "Index", "Determination_OF_LL_PL")
    </h3>
}
@if (ViewBag.displayMenu == "4")
{
   
    <div id="main-section-header" class="row">
        <h2 id="team-efficiency" class="col-xs-3">Ethiopian Road Research Center Constriction Material Database</h2>
    </div>
   
    <link href="@Url.Content("~/Content/TabStyleSheet.css")" rel="stylesheet">
    
    <section style="background:#efefe9;">
        <div class="container">
            <div class="row">
                <div class="board">                   
                        <div class="board-inner">
                        <ul class="nav nav-tabs" id="myTab">
                            <div class="liner"></div>
                            <li class="active">
                                <a href="@(Url.Action("Index","Locations"))" data-toggle="tab" title="Location Page">
                                    <span class="round-tabs one">
                                        <i class="glyphicon glyphicon-home"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="@(Url.Action("Index","Summary_Report"))" data-toggle="tab" title="Summary Report">
                                    <span class="round-tabs two">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </span>
                                </a>  
                            </li>
                            <li>
                                <a href="@(Url.Action("Index","Determination_OF_LL_PL"))" data-toggle="tab" title="LL & PL">
                                    <span class="round-tabs three">
                                        <i class="glyphicon glyphicon-gift"></i>
                                    </span>
                                </a>
                            </li>                         
                        </ul>
                    </div>   
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="home">
                     
                            
                                    <p class="text-center">
                                        <div class="btn-group mr-2" role="group" aria-label="Third group">
                                            <label class="btn pull-center">
                                                <a href="@(Url.Action("Index","Home"))" class="btn btn-success btn-outline-rounded green">Log Out&nbsp;<i class="material-icons md-18">power_settings_new</i></a>
                                            </label>
                                            <label class="btn pull-center">
                                                <a href="@(Url.Action("Index","Summary_Report"))" class="btn btn-success btn-outline-rounded green">Add Test Result <i class="material-icons md-18">list</i></a>
                                            </label>
                                        </div>
                                    </p> 
                                    <p class="text-center">
                                        <div class="btn-group mr-2" role="group" aria-label="Third group">
                                            <label class="btn pull-center">
                                                <a href="@(Url.Action("Index","Summary_Report"))" class="btn btn-success btn-outline-rounded green">Add LL & PI <i class="material-icons">checklist</i></a>
                                            </label>
                                            <label class="btn pull-center">
                                                <a href="@(Url.Action("Index","Determination_0f_LL_PL_End_Resutl_View"))" class="btn btn-success btn-outline-rounded green">Cal LL & PI&nbsp;<i class="material-icons">aspect_ratio</i></a>
                                            </label>
                                        </div>
                                    </p> 
                                    <p class="text-center">
                                        <div class="btn-group mr-2" role="group" aria-label="Third group">
                                            <label class="btn pull-center">
                                                <a href="" class="btn btn-success btn-outline-rounded green">View Reports<i class="material-icons">report</i></a>
                                            </label>
                                        </div>
                                    </p> 
                               

                                                                                                     
                       </div>                                            
                    </div>
                </div>
            </div>
        </div>
    </section>       
}
        else
        {
        @*<h2>  Welcome <strong>@ViewBag.Name</strong> :) .Module under construction. We will back soon </h2>*@
        }



