@model RCMD.Models.Density_Determination

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Create Location | @Html.ActionLink("Density Determination List", "Index")</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="table table-striped table-bordered table-condensed">
            <tbody>
                <tr>
                    <td>
                        <div class="container-narrow">
                            @*@Html.LabelFor(model => model.Moisture_ID, "Moisture_ID", htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-13">
                                @Html.DropDownList("Moisture_ID", null, htmlAttributes: new { @class = "form-control", placeholder = "Moisture ID", tabindex = 1 })
                                @Html.ValidationMessageFor(model => model.Moisture_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </td>
                    <td>
                        <div class="container-narrow">
                            @*@Html.LabelFor(model => model.Soaking_Condition, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-13">
                                @Html.EditorFor(model => model.Soaking_Condition, new { htmlAttributes = new { @class = "form-control", placeholder = "Soaking Condition", tabindex = 1 } })
                                @Html.ValidationMessageFor(model => model.Soaking_Condition, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </td>
                    <td>
                        <div class="container-narrow">
                            @*@Html.LabelFor(model => model.Model_Type, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-13">
                                @Html.EditorFor(model => model.Model_Type, new { htmlAttributes = new { @class = "form-control", placeholder = "Model Type", tabindex = 1 } })
                                @Html.ValidationMessageFor(model => model.Model_Type, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </td>
                    <td>
                        <div class="container-narrow">
                            @*@Html.LabelFor(model => model.Model_No, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-13">
                                @Html.EditorFor(model => model.Model_No, new { htmlAttributes = new { @class = "form-control", placeholder = "Model Number", tabindex = 1 } })
                                @Html.ValidationMessageFor(model => model.Model_No, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="container-narrow">
                            <div class="col-md-13">
                                <input type="submit" value="Create" class="btn btn-small btn-primary" style="width:150px; height:35px;" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="container-narrow">
                            @*@Html.LabelFor(model => model.Weight_Of_Soil_Plus_Mold, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-13">
                                @Html.EditorFor(model => model.Weight_Of_Soil_Plus_Mold, new { htmlAttributes = new { @class = "form-control", placeholder = "Weight Of Soil Plus Mold", tabindex = 1 } })
                                @Html.ValidationMessageFor(model => model.Weight_Of_Soil_Plus_Mold, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @*@Html.LabelFor(model => model.Weight_Of_Mold, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Weight_Of_Mold, new { htmlAttributes = new { @class = "form-control", placeholder = "Weight Of Mold", tabindex = 1 } })
                                @Html.ValidationMessageFor(model => model.Weight_Of_Mold, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="container-narrow">
                            @*@Html.LabelFor(model => model.Weight_Of_Soil, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-13">
                                @Html.EditorFor(model => model.Weight_Of_Soil, new { htmlAttributes = new { @class = "form-control", placeholder = "Weight Of Soil", tabindex = 1 } })
                                @Html.ValidationMessageFor(model => model.Weight_Of_Soil, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="container-narrow">
                         @*@Html.LabelFor(model => model.Volume_Of_Mold, htmlAttributes: new { @class = "control-label col-md-2" })*@
                          <div class="col-md-13">
                         @Html.EditorFor(model => model.Volume_Of_Mold, new { htmlAttributes = new { @class = "form-control", placeholder = "Volume Of Mold", tabindex = 1 } })
                         @Html.ValidationMessageFor(model => model.Volume_Of_Mold, "", new { @class = "text-danger" })
                          </div>
                         </div>
                    </td>
                    <td>
                        <div class="container-narrow">
                            <div class="col-md-13">
                                <input type="reset" class="btn btn-info" value="Clear" style="width:150px; height:35px;" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="container-narrow">
                            @*@Html.LabelFor(model => model.Wet_Density_Of_Soil, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-13">
                                @Html.EditorFor(model => model.Wet_Density_Of_Soil, new { htmlAttributes = new { @class = "form-control", placeholder = "Wet Density Of Soil", tabindex = 1 } })
                                @Html.ValidationMessageFor(model => model.Wet_Density_Of_Soil, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="container-narrow">
                            @*@Html.LabelFor(model => model.Dry_Density_Of_Soil, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-13">
                                @Html.EditorFor(model => model.Dry_Density_Of_Soil, new { htmlAttributes = new { @class = "form-control", placeholder = "Dry Density Of Soil", tabindex = 1 } })
                                @Html.ValidationMessageFor(model => model.Dry_Density_Of_Soil, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="container-narrow">
                            @*@Html.LabelFor(model => model.Material_Description_ID, "Material_Description_ID", htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-13">
                                @Html.DropDownList("Material_Description_ID", null, htmlAttributes: new { @class = "form-control", placeholder = "Material Description ID", tabindex = 1 })
                                @Html.ValidationMessageFor(model => model.Material_Description_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                    @*<td>
                        <div class="container-narrow">
                            <div class="col-md-13">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </td>*@
                </tr>
                </tbody>
            </table>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
