@model RCMD.Models.Summary_Report

@{
    ViewBag.Title = "Create";
}
<div id="regional-sales" class="main-section-content row">
    <div id="topProductsContainer">
        <p>
            <h4 align="right"><a href="@(Url.Action("Index", "Users"))" alt="Home"><i class="material-icons md-18">home</i></a>&nbsp;&nbsp;<a href="@(Url.Action("Index", "Summary_Report"))" alt="List"><i class="material-icons md-18">list</i></a> &nbsp;&nbsp;<a href="@(Url.Action("Create", "Locations"))" alt="Create"><i class="material-icons md-18">create</i></a>&nbsp;&nbsp; <a href="@(Url.Action("Index","Home"))" align="right"><i class="material-icons md-18">power_settings_new</i></a></h4>
        </p>
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <table class="table table-striped table-bordered table-condensed">
                    <tbody>
                        <tr>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">
                                        @Html.DropDownList("Location_ID", null, htmlAttributes: new { @class = "form-control", placeholder = "Location ID", tabindex = 1 })
                                        @Html.ValidationMessageFor(model => model.Location_ID, "", new { @class = "text-danger" })                                        
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">                                       
                                        @Html.EditorFor(model => model.Quarry_Area, new { htmlAttributes = new { @class = "form-control", placeholder = "Quarry Area", tabindex = 1 } })
                                        @Html.ValidationMessageFor(model => model.Quarry_Area, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">                                      
                                        @Html.EditorFor(model => model.Chanage, new { htmlAttributes = new { @class = "form-control", placeholder = "Chanage", tabindex = 1 } })
                                        @Html.ValidationMessageFor(model => model.Chanage, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">                                      
                                        @Html.EditorFor(model => model.Offset_Distance, new { htmlAttributes = new { @class = "form-control", placeholder = "Offset Distance", tabindex = 1 } })
                                        @Html.ValidationMessageFor(model => model.Offset_Distance, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">                                       
                                        <input type="submit" value="Create" class="btn btn-small btn-primary" style="width:150px; height:35px;" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">
                                        @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control", placeholder = "Latitude", tabindex = 1 } })
                                        @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">
                                        @Html.EditorFor(model => model.Longtiude, new { htmlAttributes = new { @class = "form-control", placeholder = "Longtiude", tabindex = 1 } })
                                        @Html.ValidationMessageFor(model => model.Longtiude, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">
                                        @Html.EditorFor(model => model.Eatimated_Quantiy, new { htmlAttributes = new { @class = "form-control", placeholder = "Eatimated Quantiy", tabindex = 1 } })
                                        @Html.ValidationMessageFor(model => model.Eatimated_Quantiy, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">
                                        @Html.EditorFor(model => model.LL, new { htmlAttributes = new { @class = "form-control", placeholder = "LL", tabindex = 1 } })
                                        @Html.ValidationMessageFor(model => model.LL, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">
                                        <input type="reset" class="btn btn-info" value="Clear" style="width:150px; height:35px;" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">
                                        @Html.EditorFor(model => model.PI, new { htmlAttributes = new { @class = "form-control", placeholder = "PI/NP", tabindex = 1 } })
                                        @Html.ValidationMessageFor(model => model.PI, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">
                                        @Html.EditorFor(model => model.SC, new { htmlAttributes = new { @class = "form-control", placeholder = "SC", tabindex = 1 } })
                                        @Html.ValidationMessageFor(model => model.SC, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">                                        
                                        @Html.EditorFor(model => model.OMC, new { htmlAttributes = new { @class = "form-control", placeholder = "OMC (%)", tabindex = 1 } })
                                        @Html.ValidationMessageFor(model => model.OMC, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">                                        
                                        @Html.EditorFor(model => model.MDD, new { htmlAttributes = new { @class = "form-control", placeholder = "MDD (g-cm3)", tabindex = 1 } })
                                        @Html.ValidationMessageFor(model => model.MDD, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td colspan="5"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">                                       
                                        @Html.EditorFor(model => model.CBR, new { htmlAttributes = new { @class = "form-control", placeholder = "CBR %", tabindex = 1 } })
                                        @Html.ValidationMessageFor(model => model.CBR, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">                                       
                                        @Html.EditorFor(model => model.SWELL, new { htmlAttributes = new { @class = "form-control", placeholder = "SWELL %", tabindex = 1 } })
                                        @Html.ValidationMessageFor(model => model.SWELL, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">                                        
                                        @Html.EditorFor(model => model.PP, new { htmlAttributes = new { @class = "form-control", placeholder = "PP", tabindex = 1 } })
                                        @Html.ValidationMessageFor(model => model.PP, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">                                        
                                        @Html.EditorFor(model => model.PM, new { htmlAttributes = new { @class = "form-control", placeholder = "PM", tabindex = 1 } })
                                        @Html.ValidationMessageFor(model => model.PM, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">                                       
                                        @Html.EditorFor(model => model.GM, new { htmlAttributes = new { @class = "form-control", placeholder = "GM", tabindex = 1 } })
                                        @Html.ValidationMessageFor(model => model.GM, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">                                       
                                        @Html.EditorFor(model => model.LAA, new { htmlAttributes = new { @class = "form-control", placeholder = "LAA", tabindex = 1 } })
                                        @Html.ValidationMessageFor(model => model.LAA, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">                                       
                                        @Html.EditorFor(model => model.ACV, new { htmlAttributes = new { @class = "form-control", placeholder = "ACV", tabindex = 1 } })
                                        @Html.ValidationMessageFor(model => model.ACV, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">                                      
                                        @Html.EditorFor(model => model.TFV, new { htmlAttributes = new { @class = "form-control", placeholder = "TFV", tabindex = 1 } })
                                        @Html.ValidationMessageFor(model => model.TFV, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">                                       
                                        @Html.EditorFor(model => model.ST, new { htmlAttributes = new { @class = "form-control", placeholder = "ST", tabindex = 1 } })
                                        @Html.ValidationMessageFor(model => model.ST, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">                                      
                                        @Html.EditorFor(model => model.FI, new { htmlAttributes = new { @class = "form-control", placeholder = "FI", tabindex = 1 } })
                                        @Html.ValidationMessageFor(model => model.FI, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">                                       
                                        @Html.EditorFor(model => model.SGR, new { htmlAttributes = new { @class = "form-control", placeholder = "SGR", tabindex = 1 } })
                                        @Html.ValidationMessageFor(model => model.SGR, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">                                        
                                        @Html.EditorFor(model => model.WAT, new { htmlAttributes = new { @class = "form-control", placeholder = "WAT", tabindex = 1 } })
                                        @Html.ValidationMessageFor(model => model.WAT, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">                                       
                                        @Html.EditorFor(model => model.SEVT, new { htmlAttributes = new { @class = "form-control", placeholder = "SEVT", tabindex = 1 } })
                                        @Html.ValidationMessageFor(model => model.SEVT, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="container-narrow">
                                    <div class="col-md-13">                                        
                                        @Html.EditorFor(model => model.Purpose_of_Material, new { htmlAttributes = new { @class = "form-control", placeholder = "Purpose of Material", tabindex = 1 } })
                                        @Html.ValidationMessageFor(model => model.Purpose_of_Material, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
        

