@model RCMD.Models.Summary_Report

@{
    ViewBag.Title = "Edit";
}
<div id="regional-sales" class="main-section-content row">
    <div id="topProductsContainer">
        <p>
            <h4 align="right"><a href="@(Url.Action("Index", "Users"))" alt="Home"><i class="material-icons md-18">home</i></a>&nbsp;&nbsp;<a href="@(Url.Action("Index", "Summary_Report"))" alt="List"><i class="material-icons md-18">list</i></a> &nbsp;&nbsp;<a href="@(Url.Action("Create", "Locations"))" alt="Create"><i class="material-icons md-18">create</i></a>&nbsp;&nbsp; <a href="@(Url.Action("Index","Home"))" align="right"><i class="material-icons md-18">power_settings_new</i></a></h4>
        </p>
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)
            <table class="table table-striped table-bordered table-condensed">
                <tbody>
                    <tr>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">

                                    @*@Html.LabelFor(model => model.Road_Sction, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                    @Html.EditorFor(model => model.Location.Road_Section, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Location.Road_Section, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">

                                    @*@Html.LabelFor(model => model.Quarry_Area, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                    @Html.EditorFor(model => model.Quarry_Area, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Quarry_Area, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @*@Html.LabelFor(model => model.Chanage, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                    @Html.EditorFor(model => model.Chanage, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Chanage, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @*@Html.LabelFor(model => model.Offset_Distance, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                    @Html.EditorFor(model => model.Offset_Distance, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Offset_Distance, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    <input type="submit" value="Save" class="btn btn-small btn-primary" style="width:150px; height:35px;" />
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @*@Html.LabelFor(model => model.Latitude, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                    @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @*@Html.LabelFor(model => model.Longtiude, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                    @Html.EditorFor(model => model.Longtiude, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Longtiude, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @*@Html.LabelFor(model => model.Eatimated_Quantiy, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                    @Html.EditorFor(model => model.Eatimated_Quantiy, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Eatimated_Quantiy, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @*@Html.LabelFor(model => model.LL, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                    @Html.EditorFor(model => model.LL, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LL, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    <input type="reset" class="btn btn-info" value="Clear" style="width:150px; height:35px;" />
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @*@Html.LabelFor(model => model.PL, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                    @Html.EditorFor(model => model.PI, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PI, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @*@Html.LabelFor(model => model.SC, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                    @Html.EditorFor(model => model.SC, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SC, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @*@Html.LabelFor(model => model.PP, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                    @Html.EditorFor(model => model.PP, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PP, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @*@Html.LabelFor(model => model.GL, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                    @Html.EditorFor(model => model.GM, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.GM, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td colspan="4"></td>
                    </tr>

                    <tr>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @* @Html.LabelFor(model => model.PM, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                    @Html.EditorFor(model => model.PM, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PM, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @*@Html.LabelFor(model => model.OMC, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                    @Html.EditorFor(model => model.OMC, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.OMC, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @*@Html.LabelFor(model => model.MDD, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                    @Html.EditorFor(model => model.MDD, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MDD, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @*@Html.LabelFor(model => model.CBR, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                    @Html.EditorFor(model => model.CBR, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CBR, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @*@Html.LabelFor(model => model.LAA, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                    @Html.EditorFor(model => model.LAA, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LAA, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @*@Html.LabelFor(model => model.FI, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                    @Html.EditorFor(model => model.FI, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FI, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @*@Html.LabelFor(model => model.SGR, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                    @Html.EditorFor(model => model.SGR, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SGR, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @*@Html.LabelFor(model => model.WAT, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                    @Html.EditorFor(model => model.WAT, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.WAT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @*@Html.LabelFor(model => model.ST, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                    @Html.EditorFor(model => model.ST, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ST, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @*@Html.LabelFor(model => model.Average, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                    @Html.EditorFor(model => model.SWELL, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SWELL, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @*@Html.LabelFor(model => model.ACV, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                    @Html.EditorFor(model => model.ACV, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ACV, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @*@Html.LabelFor(model => model.TFV, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                    @Html.EditorFor(model => model.TFV, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TFV, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>

                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @*@Html.LabelFor(model => model.SEVT, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                    @Html.EditorFor(model => model.SEVT, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SEVT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="container-narrow">
                                <div class="col-md-13">
                                    @*@Html.LabelFor(model => model.Purpose_of_Material, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                    @Html.EditorFor(model => model.Purpose_of_Material, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Purpose_of_Material, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        }

    </div>
</div>



     


        @*@section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }*@
